body {
    background-color: grey;
    text-align: center
}
h1 {
    text-align: center;
}
p {
    text-align: center;
    
}
hr {
    im
}

hr {
    border-style: solid;
    border-color: #91274F;
    border-width: 2px;
}